h1 {
    color: red;
    font-size: 2em;
}

p, li {
    color:green;
}

li {
    /* list-style-type: none; 글머리 기호 삭제 */
    list-style-type:square;
}

.special {
    color : orange;
    font-weight:bold;
}

li.special {
    color:blue;
}

span.special,
p.special {
    color:brown;
}

li em {
    color: pink;
}

h1 + h2 {
    font-size: 150%;
}

a:link {
    color : pink;
}

a:visited {
    color: green;
}

/* 링크 밑줄 제거 */
a:hover {
    text-decoration: none;
}

/* <article> 내부의 <p> 안에 있는 모든 <span> 을 선택합니다 
article p span { ... }

<h1> 바로 뒤에 오는 <ul> 바로 뒤의 모든 <p> 를 선택합니다  
h1 + ul + p { ... } */
