.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    padding: 1rem 2rem;
    color: white;
    margin-bottom: 1rem;
}

.logo{
    font-size: 1.5rem;
}

.nav-btns button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color:aliceblue;
    border: none;
    color:black;
    border-radius: 4px;
    cursor:pointer;
}

.nav-buttons button:hover {
    background-color: #2980b9;
}

body {
    font-family: "Roboto", sans-serif;
}


button:hover {
    background-color: seagreen;
}

.card-container {
    /* 아이템 가로로 나열 */
    display: flex;

    /* 넘치면 다음 줄로 */
    flex-wrap:wrap;

    /* 가운데 정렬 */
    justify-content: center;

    /* 아이템 사이의 간격 */
    gap: 20px;

}

/* 모바일 (기본값) 한 줄에 1개 */
.card-container article {
    width: 100%;

    display: flex;
    flex-direction: column;

    border:1px solid grey;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-container article p {
    flex-grow: 1;
}

/* 태블릿 한 줄에 2개 */
/* @media (min-width:...) 괄호 안의 조건이 만족하면 CSS 적용 */
/* 화면 너비 768px 이상일 경우 적용 */
@media (min-width: 768px) {
    .card-container article {
        /* 전체 너비 100% - 간격 / 한 줄에 2개로 */
        /* calc() CSS 안에서 계산을 가능하게 해줌. */
        width: calc((100% - 20px) / 2);
    }
}

/* 데스크탑 한 줄에 3개 */
/* 화면 너비가 1024px 이상일 경우 적용 */
@media (min-width: 1024px) {
    .card-container article {
        width: calc((100% - 40px) / 3);
    }
}



.card-images {
    /* 이미지와 아래 문단 사이 간격 */
    margin-bottom: 15px;

    position: relative;
    width: 100%;
    padding-top: 75%; /* 75%면 4:3 비율 (height / width = 3/4 = 0.75) */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card-images img {
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* 잘림 없이 축소 */
    transition: transform 0.3s;
    background-color: #f4f4f4; /* 이미지 여백 대비 배경색 추가 */
}

.card-images img:hover {
    /* 이미지 크기 1.1배 확대 */
    transform:scale(1.2);
}